<div class="logo">
    <img src="../../assets/blacklogo.svg" alt="">
  </div>
  <div class="container">
    <div class="form">
      <h1>Reset Password</h1>
      <div>
          <form [formGroup]="resetPasswordForm">
          <div class="input">
            <p>Email</p>
            <input type="email" formControlName="email" placeholder="Your email address" [class.invalid]="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" type="email" >
          </div>
          <div class="error">
            <div *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched" class="messages">
              Please enter a valid email.
            </div>
          </div>
          <div class="forgot">
            <button (click)="goToReg()">Don't have an account?</button>
          </div>
          <div class="create">
            <button (click)="goToLogin()">Already have and account?</button>
          </div>
          <br>
          <div class="button">
            <button (click)="resetPassword(resetPasswordForm)" 
            [disabled]="!resetPasswordForm.valid">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <img src="../../assets/MaskFooter.svg" alt="">
  </div>
  