<!-- <ion-header>
  <ion-toolbar>
    <ion-title>prof</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <div class="avatar-images">
      <img src="../../assets/Kanye-West.jpg" class="thumbavatar">
    </div>
    <div class="names">
      <h1>Kanye West</h1>
      <h5>Driving Instructor | Reg Number: XF2047</h5>
      <h6>
          <ion-icon name="mail"></ion-icon> Kennedymukhari@gmail.com<a href=""></a>
      </h6>
      <p><ion-icon name="call"></ion-icon><a href=""> 078 546 2587</a></p>
    </div>
    
    <div class="contact">
      <p>
          Kanye Omari West is an American rapper,
          singer, songwriter, record producer, entrepreneur,
          and fashion designer. His musical career has been
          marked by dramatic changes in styles, incorporating
          an eclectic range of influences including soul, baroque pop,
          electro, indie rock, synth-pop, industrial, and gospel.
      </p>
    </div>
  </div>
</ion-content>