.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .backImg {
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(121, 11, 11, 0.24);
        ion-thumbnail {
            min-width: 8rem;    
            min-height: 8rem;
            img {
                // min-width: 7rem;    
                // min-height: 7rem;
                border-radius: 50%;
                border: 1px solid #790B0B;
            }
        }

    }
    .names {
        text-align: center;
        height: 25%;
        border-bottom: 1px solid #790B0B;
    }
    .contact {
        height: 20%;
        text-align: center;
        background: rgba(219, 216, 216, 0.87);
    }
    .description {
        text-align: center;

    }
}