<ion-content>

<div #map class="map">
</div>
<div [ngClass]="{'booking-active': booking.active, 'booking-inactive':booking.inactive}">
  <div class="toggler" (click)="togglePanel()">
      <ion-icon name="arrow-dropdown-circle"></ion-icon>
  </div>
  <div class="list">
    <div class="profile" *ngFor="let user of users" >
      <div class="image">
        <div class="img">
            <img src="{{user.image}}" (click)="setlocation(user.coords)">
        </div>
      </div>
      <div class="details">
        <div [ngClass]="{'data-active': !more, 'data-inactive': more}">
            <div>
                <h3>{{user.name}}</h3>
                <p>{{user.content}}</p>
            </div>
        </div>
        <div [ngClass]="{'more-active': more, 'more-inactive': !more}">
            <div>
                <p>{{user.datein}}</p>
                <p>{{user.dateout}}</p>
            </div>
            <div><p><b>Package: R{{user.package}}.00</b></p>
              <p>2 Lessons</p>
            </div>
        </div>
      </div>
      <div class="expand" (click)="showMore()">
          <p><ion-icon name="arrow-dropdown-circle"></ion-icon></p>
      </div>
      <div class="buttons">
        <button id="accept" (click)="acceptRequest(user)">Accept</button>
        <button id="decline" (click)="declineRequests(user)">Decline</button>
      </div>
    </div>
  </div>
</div>
</ion-content>
