<ion-content class="no-scroll">
  <div class="container">
      <div class="dSchool">
          <div class="thumb">
            <ion-avatar>
              <img src="../../assets/shapes.svg" />
            </ion-avatar>
          </div>
          <div class="Dname">
            <div class="name">
              <p>
                L-Mani Driving School
              </p>
            </div>
            <!-- <div class="todo">
              <p text-end><a>Todo: 3 | Done: 57 | Declined: 34</a></p>
            </div> -->
          </div>
        </div>
      </div>
    <div class="graph">
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Number of Students per day</ion-card-subtitle>
          <ion-card-title>Name of instructor</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
    </div>


</ion-content>