.no-scroll .scroll-content{
    overflow: hidden;
 }
.container{
    display: flex;
    flex-direction: column;
    background: #4C0A0A ;
    position: relative;
    height: 20%;
    justify-content: center;
    padding: 0;
    .dSchool {
        display: flex;
        flex-direction: row;
        margin: 2px;
        height: 100%;
        .thumb {
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            ion-avatar{
                height: 90px;
                width: 90px;
            }
            img {
                // border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        .Dname {
            flex: 2;
            height: 100%;
            display: flex;
            flex-direction: column;
            
            .name{
                height: 65%;
                display: flex;
                align-items: center;
                position: relative;
                padding: 0;
                p {
                    font-size: 20px;
                    color: white;
                    position: absolute;
                    bottom: 0;
                }
            }
            .todo{
                position: absolute;
                bottom: 0;
                right: 0;
                height: 35%;
                p {
                    padding-right: 3px;
                    a {
                        font-size: 70%;
                        font-weight: bold;
                        color: white;
                        padding-right: 3px;
                    }

                }
            }
        }
    }
}
.rev {
    display: flex;
    padding-left: 10px;
    height: 10%;
    h2 {
        font-weight: bold;
    }
}
.cards {
    height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    padding: 7px;
    position: fixed;
    width: 100%;
    .card{
        display: flex;
        height: 25%;
        align-items: center;
        flex-direction: row;
        border-radius: 5px;
        margin-bottom: 5px;
        padding-left: 10px;
        box-shadow: 3px 6px 16px rgba(0,0,0,0.4);
        .ava {
            
        }
        .comments {
            padding-left: 3px;
        }
    }
}