.container {
    display: flex;
    flex-direction: column;
    background: url('../../assets/Mask\ Group\ 5.png');
    background-size: cover;
    height: 100%;
    .logo {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        img{
            height: 40%;
            width: 40%;
            justify-content: center;
        }
    }
    .wait {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        h1{
            font-weight: bold;
            color: white;
            
        }
    }
    .send {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15%;
        p {
            color: white;
            justify-content: center;
            text-align: center;
        }
    }
    .contact {
        height: 30%;
        position: relative;
        display: flex;
        justify-content: center;
        p{
            position: absolute;
            bottom: 0;
            color: white;
            text-align: center;
            a {
                color: red;
            }
        }
    }
}