<ion-content class="no-scroll">
  <div class="container">
    <div class="dSchool">
      <div class="thumb">
        <ion-avatar>
          <img src="../../assets/shapes.svg" />
        </ion-avatar>
      </div>
      <div class="Dname">
        <div class="name">
          <p>
            L-Mani Driving School
          </p>
        </div>
        <div class="todo">
          <p text-end><a>Todo: 3 | Done: 57 | Declined: 34</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="date">
      <h1>2 Months back</h1>
    </div>
  
    <div class="card">
      <div class="bookings">
        <h3>
          You had 13 bookings
        </h3>
      </div>
    </div>

    <div class="date">
        <h1>2 Months back</h1>
      </div>
    
      <div class="card">
        <div class="bookings">
          <h3>
            You had 13 bookings
          </h3>
        </div>
      </div>

      <div class="date">
          <h1>2 Months back</h1>
        </div>
      
        <div class="card">
          <div class="bookings">
            <h3>
              You had 13 bookings
            </h3>
          </div>
        </div>

        <div class="date">
            <h1>2 Months back</h1>
          </div>
        
          <div class="card">
            <div class="bookings">
              <h3>
                You had 13 bookings
              </h3>
            </div>
          </div>
  </div>

  <ion-fab vertical="bottom" (click)="goToPastB()" horizontal="end" slot="fixed">
    <ion-fab-button>
      Reviews
    </ion-fab-button>
  </ion-fab>

</ion-content>