<ion-content class="no-scroll">

    ​
  
  <div no-padding class="container">
      <form [formGroup]="loginForm">
  
  
  
  
  <div  class="avatar-images">
    <img *ngIf="!isprofile" (click)="selectImage()" src="../../assets/logo.png" class="thumbavatar">\
    <img  src="{{profileImage}}" class="thumbavatar">
  </div>
        
        <div  class="profile-form">
  
          <p *ngIf="isuploading">Uploading</p>
          <p *ngIf="isuploaded">Done</p>
          <div class="input">
              <p>SchoolName</p>
              <input type="text" formControlName="schoolname" [(ngModel)]="businessdata.schoolname">
            </div>
          <div class="error" *ngFor="let validate of validation_messages.schoolname">
            <div class="messages" 
            *ngIf="loginForm.get('schoolname').hasError(validate.type) && (loginForm.get('schoolname').dirty || loginForm.get('schoolname').touched)">
              {{validate.message}}
            </div>
          </div>
  
            <div class="input">
              <p>Email</p>
                <input type="email" formControlName="email" [(ngModel)]="businessdata.email">
              </div>
  
          <div class="error" *ngFor="let validate of validation_messages.email">
            <div class="messages" 
            *ngIf="loginForm.get('email').hasError(validate.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
              {{validate.message}}
            </div>
          </div>
  
          <div class="input">
              <p>CellNumber</p>
              <input type="tel" formControlName="cellnumber" [(ngModel)]="businessdata.cellnumber">
            </div>
  
          <div class="error" *ngFor="let validate of validation_messages.cellnumber">
            <div class="messages"
            *ngIf="loginForm.get('cellnumber').hasError(validate.type) && (loginForm.get('cellnumber').dirty || loginForm.get('cellnumber').touched)">
              {{validate.message}}
            </div>
          </div>
          <div class="input">
              <p>Cost</p>
              <input type="tel" formControlName="cost" [(ngModel)]="businessdata.cost">
            </div>
          <div class="error" *ngFor="let validate of validation_messages.cost">
            <div class="messages"
            *ngIf="loginForm.get('cost').hasError(validate.type) && (loginForm.get('cost').dirty || loginForm.get('cost').touched)">
              {{validate.message}}
            </div>
          </div>
          <!--                   
                          <div class="error" *ngFor="let validate of validation_messages.schoolname">
                                  <div class="messages" *ngIf="loginForm.get('schoolname').hasError(validate.type) && (loginForm.get('schoolname').dirty || loginForm.get('schoolname').touched)">
                                    {{validate.message}}
                                  </div>
                                </div> -->
  
  
                                <div class="input">
                                    <p>Address</p>
                                    <input type="cost" formControlName="address" [(ngModel)]="businessdata.address">
                                  </div>
          <div class="error" *ngFor="let validate of validation_messages.content">
            <div class="messages"
            *ngIf="loginForm.get('address').hasError(validate.type) && (loginForm.get('address').dirty || loginForm.get('address').touched)">
              {{validate.message}}
            </div>
          </div>
          <div class="input">
              <p>Description</p>
              <input type="text" formControlName="desc" [(ngModel)]="businessdata.desc">
            </div>
  
          <div class="error" *ngFor="let validate of validation_messages.schoolname">
            <div class="messages"
            *ngIf="loginForm.get('desc').hasError(validate.type) && (loginForm.get('desc').dirty || loginForm.get('desc').touched)">
              {{validate.message}}
            </div>
          </div>
  
          
            <!-- <div class="error" *ngFor="let validate of validation_messages.schoolname">
              <div class="messages"
              *ngIf="loginForm.get('desc').hasError(validate.type) && (loginForm.get('desc').dirty || loginForm.get('desc').touched)">
                {{validate.message}}
              </div>
            </div> -->


            <div class="input">
              <p>amount</p>
                <input type="email"  [(ngModel)]="package.amount">
              </div>

              <div class="input">
            <p>Package name</p>
              <input type="email" [(ngModel)]="package.name">
            </div>

              <div class="input">
                <p>number</p>
                  <input type="email" [(ngModel)]="package.number">
                </div>
                <div class="donebtn">
                  <button (click)="createAccount()">
                      Done
                  </button>
              </div>



          <ion-item>
            <ion-label position="floating">open time</ion-label>
            <ion-datetime displayFormat="HH:mm" formControlName="open" [(ngModel)]="businessdata.open" ></ion-datetime>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.open">
            <div class="messages"
            *ngIf="loginForm.get('open').hasError(validate.type) && (loginForm.get('open').dirty || loginForm.get('open').touched)">
              {{validate.message}}
            </div>
          </div>
  

          
          <ion-item>
            <ion-label position="floating">closing Time</ion-label>
            <ion-datetime displayFormat="HH:mm" formControlName="closed" [(ngModel)]="businessdata.closed" ></ion-datetime>
          </ion-item>
          <div class="error" *ngFor="let validate of validation_messages.closed">
            <div class="messages"
            *ngIf="loginForm.get('closed').hasError(validate.type) && (loginForm.get('closed').dirty || loginForm.get('closed').touched)">
              {{validate.message}}
            </div>
          </div>
  
          <div class="donebtn">
              <button (click)="createAccount()">
                  Done
              </button>
          </div>
  
  
  
        </div>
      </form>
    </div>
  </ion-content>