<ion-header>
  <ion-toolbar>
     
    <!-- <ion-title>TheMap</ion-title>  -->
    <!-- <button ion-button (click)="addMarkersOnTheCustomersCurrentLocation()"><ion-icon name="add"></ion-icon>Add Marker</button> -->
    <button (click)="Logout()" class="Icon">Logout</button> <br>
    <!-- <button (click)="add()">Show Data</button> -->
    <!-- <button (click)="takeData()">Console Data</button> -->
    <!-- <ion-icon ios="ios-contact" md="md-contact" (click)="goToProfile()" class="Icon"></ion-icon> -->

  </ion-toolbar>
</ion-header>

<ion-content >
    <div #map id="map"></div> 
    <!-- <div  padding class="profile">
      <ion-thumbnail (click)="goToProfile()">
        <img src="../../assets/logo.png" alt="profile">
      </ion-thumbnail>
    </div> -->
    <div #list  [ngClass]="{'list': display, 'listinactive': !display}">
      <div (click)="swipeUp()" class="toggler">
          <ion-icon *ngIf="display" class="arrow" name="arrow-dropdown"></ion-icon>
          <ion-icon *ngIf="!display" class="arrow" name="arrow-dropup"></ion-icon>
      </div>
      <div class="s-list">
        <div class="card" *ngFor="let data of users">
          <div class="image">
            <!-- <img *ngIf="data.image" src="../../assets/logo.png" alt=""> -->
            <img *ngIf="!data.image" src="https://icon-library.net/images/image-placeholder-icon/image-placeholder-icon-3.jpg" alt="">
          </div>
          <div class="details" *ngFor = "let data of NewRequeste">
            <!-- <p><b>Need a Book?: {{data.book}} </b></p>
            <p>Confirmation state:{{data.confirmed}}</p> -->

         
            <!-- <p>Date Created: {{data.datecreated}}</p>
            <p>Date In: {{data.datein}}</p>
            <p>Date Out: {{data.dateout}}</p>
            <p>Lessons: {{data.lessons}}</p> -->
            
          </div>
          <p>{{data.location.address}}</p>
          <div class="call">
            <button expand="full" >Decline</button>
          </div>
          <div class="request">
            <button expand="full" (click)="viewSchool(u)">Accept</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div #map id="map"></div>   -->
</ion-content>
<!-- ion-button round small  -->